<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../assets/logo.png" alt="LOGO">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"><mat-icon>home</mat-icon>link 1</a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>link 2</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>edit</mat-icon>link 3</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>settings</mat-icon>link 4</a>


</mat-nav-list>